body{
    background-color: black;
}

input {
    background: green;
}

p { color:aquamarine;
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}